<template>
  <div class="home">
    <navbar />
    <v-container class="my-5">
      <v-layout row wrap>
        <v-flex xs12 sm6 md6 lg3 v-for="m in modules" v-bind:key="m.id">
          <v-card class="ma-3" :href="'module/' + m.id">
            <!--<router-link class="ma-3" :to="{path: 'module/' + m.id}" tag="v-card">-->
            <v-card-title class="justify-center">
              {{ m.title }}
            </v-card-title>
            <v-card-text>
              {{ m.description }}
            </v-card-text>
            <v-card-actions>
              <v-list-item class="grow">
                <p>25%</p>
                <v-row align="center" justify="end">
                  <p>{{ m.reward }} PO</p>
                </v-row>
              </v-list-item>
            </v-card-actions>
            <!--</router-link>-->
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
// @ is an alias to /src
import navbar from "@/components/navbar.vue";
export default {
  name: "Home",
  components: {
    navbar
  },
  data: () => {
    return {
      drawer: false
      //modules: ["test", "oui"]
    };
  },
  computed: {
    modules() {
      return this.$store.state.modules;
    }
  }
};
</script>
