<template>
  <div>
    <stepper
      progression="1"
      :steps="[
        { id: 1, name: 'test' },
        { id: 2, name: 'test2' }
      ]"
    />
  </div>
</template>

<script>
import stepper from "@/components/stepper.vue";

export default {
  name: "module1",
  components: {
    stepper
  },
  data: () => {
    return {
      progression: 2
    };
  }
};
</script>
