<template>
  <div>
    <v-stepper :value="progression">
      <v-stepper-header>
        <template v-for="step in steps">
          <v-stepper-step
            :step="step.id"
            :complete="progression > step.id"
            :key="step.id"
          >
            {{ step.name }}
          </v-stepper-step>
          <v-divider v-if="step.id !== steps.length" :key="step.id"></v-divider>
        </template>
      </v-stepper-header>
    </v-stepper>
  </div>
</template>

<script>
export default {
  name: "stepper",
  props: ["progression", "steps"]
};
</script>
